@use 'functions' as *;

// layout
@mixin rowFlex($justify: stretch, $align: stretch, $gap: 0) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
};

@mixin colFlex($align: stretch, $justify: stretch, $gap: 0) {
    display: flex;
    flex-direction: column;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
};

// font
@mixin fontDefault($size: 30) {
    font-family: Mouse Memoirs, ui-sans-serif, system-ui,sans-serif, "Apple Color Emoji","Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
	line-height: 1.5;
	font-weight: 400;
    font-size: rem($size);
}

// animations



// components
@mixin btn_shadow_border($yOffset, $xOffset, $bg_color_var: --pink, $shadow_color_var: --blue-light-op, $border_color_var: --blue-dark) {
    background-color: var(#{$bg_color_var});
    border: rem(3) solid var(#{$border_color_var});
    border-bottom-width: rem(10);
    box-shadow: inset #{$xOffset}#{px} #{$yOffset}#{px} 5px 2px var(#{$shadow_color_var});
    transition: transform 0.48s ease-in-out, box-shadow 0.48s ease-in-out, border 0.48s ease-in-out;
    
    // hover state
    &:hover {
        box-shadow: inset #{-$xOffset}#{px} #{-$yOffset}#{px} 5px 2px var(#{$shadow_color_var});
    }
}