@use 'functions' as *;

// layout
@mixin rowFlex($justify: stretch, $align: stretch, $gap: 0) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
};

@mixin colFlex($align: stretch, $justify: stretch, $gap: 0) {
    display: flex;
    flex-direction: column;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
};

// font
@mixin fontDefault($size: 30) {
    font-family: Mouse Memoirs, ui-sans-serif, system-ui,sans-serif, "Apple Color Emoji","Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
	line-height: 1.5;
	font-weight: 400;
    font-size: rem($size);
}