@use 'ut' as *;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
	cursor: pointer;
}

a {
	text-decoration: none;
}

ul, ol { 
	list-style: none;
}

:root {
	@font-face {
		font-family: 'Mouse Memoirs';
		src: url('/src/assets/fonts/MouseMemoirs-Regular.ttf');
	}

	// colors
	--white: hsl(0, 0%, 100%);
	--black: hsl(0, 0%, 0%);
	--blue-light: hsl(219, 100%, 59%);
	--blue-light-op: hsl(219, 88%, 67%);
	--blue-mid: hsl(230, 70%, 52%);
	--blue-mid-op: hsla(230, 70%, 52%, 0.829);
	--blue-dark: hsl(230, 96%, 18%);
	--blue-dark-op: hsla(230, 100%, 24%, 0.831);
	--pink: hsl(300, 100%, 82%);
	--purple-light: hsl(288, 81%, 45%);
	--purple: hsl(250, 69%, 27%);;
	--cyan: hsl(197, 100%, 63%);
	--green: hsl(100, 76%, 48%);

	// specific
	--block-title: hsl(250, 69%, 27%);
	--block-desc: hsl(250, 35%, 62%);
}

body {
	font-family: Mouse Memoirs, ui-sans-serif, system-ui,sans-serif, "Apple Color Emoji","Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
	margin: 0;
	display: flex;
	justify-content: center;
    align-items: center;
	min-height: 100vh;
    min-width: 100%;
	overflow: hidden;
}
